// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.search-fields {
    margin: 10px 0;
    .card{
        padding:0;
    }
    .fields-form{
        padding: 10px;
    }
}
.result-list{
    list-style:none;
    padding:0;
}
